/* General styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #f0f0f0;
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 1200px; /* Increased max-width for better readability */
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    padding: 20px;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#language-switcher button {
    background-color: transparent;
    color: #f0f0f0;
    border: 2px solid #f0f0f0;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
}

#language-switcher button:hover {
    background-color: #f0f0f0;
    color: #2b2b2b;
}

.profile-container {
    margin-top: 20px;
    text-align: center; /* Center-align profile container */
}

.profil-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
    margin: 5px 0;
}

/* Section styles */
section {
    margin: 40px 0;
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #f0f0f0;
    margin-top: 40px;
    font-size: 0.8em;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .profile-container {
        margin-top: 10px;
    }

    .profil-photo {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 10em;
    }

    p {
        font-size: 5em;
    }

    h2 {
        font-size: 8em;
    }

    h3 {
        font-size: 5em;
    }

    nav ul li {
        display: block;
        margin-bottom: 50px;
    }
}
